@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,300&family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG5pZ2h0JTIwc2t5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
     /* background-color: black; */
     background-size: auto;

}
.Sign-up-form
{
    width: 400px;
    box-shadow: 0 0 3px  rgba(rgb(0,0,0,0.3));
    background: rgba(255, 255, 255, 0.815);
    /* border: black; */
    padding: 20px;
    margin: 8% auto ;
    text-align:center;
    border: 3px solid greenyellow;
    /* opacity: 0.6; */
    background-color: black;
}
.Sign-up-form h1
{
    color: blue;
    margin-bottom: 30px ;
}
.input-box
{
 border-radius: 26px;
 padding: 10px;
 margin: 10px 0;
 width:90%;
 border: 1px solid #999;
 outline: black;
 border: 2px solid greenyellow;
}
button
{
    color: rgb(205, 230, 98);
    width :100%;
    padding: 10px ;
    border-radius: 20px;
    font-size: 15px;
    margin: 10pz 0;
    border:none;
    outline:none;
    cursor: pointer;
}
.Signup-btn
{
    background-color: #495057;
    border: 2px solid greenyellow;
}

a
{
    text-decoration: line;
}
hr
{
   margin-top: 20px;
   width:80%;
}
.or
{
  background: rgba(255, 255, 255, 0.815);
  width: 30px;
  margin: -19px auto 10px; /*text will come over line */

}
img{
width: 70px;
margin-top: -50px;
}
#para
{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
#lastpara
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
h1
{
    font-family:  'Roboto', sans-serif;
}
button:active
{
    width: 95%;
}
.phpech
{
  color: whitesmoke;
}
#otptext
{
    color: greenyellow;
}
p
{
    color: whitesmoke;
}
