body
{
    background-color: black;
}
.scrap
{
    display: flex;
    background-color: #001219;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgsty
{
    margin: 50px;
}
#endhtwo
{
    color: yellowgreen;
}
.para
{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}